.container {
    background-color: var(--dark02);

    display: flex;
    flex-direction: column;
    height: available;
    gap: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 325px;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 2rem;
}

.titleContainer > h2 {
    font-weight: normal;
    font-size: 20px;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger > div {
    height: 2.25px;
    width: 25px;
    background-color: #7879F1;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.menuContainer > h3 {
    color: #C7C7C7;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.menuItem {
    display: flex;
    gap: 2rem;
    font-size: 14px;
}

.bottomItem {
    position: relative;

}

.bgImage {
    position: absolute;
}

.content {
    position: relative;
    z-index: 2;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.content > h1 {
    font-size: 24px;
    line-height: 34px;
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
        padding: 1rem 2rem;
    }

    .titleContainer {
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .menuContainer {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .burger > div {
        height: 2.25px;
        width: 25px;
        background-color: #7879F1;
    }

    .bottomItem {
        display: none;
    }

    .content {
        width: 100%;
        padding: 0;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }

    .content > h1 {
        font-size: 24px;
        line-height: 34px;
    }
}